<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559869071425-l96jp77g8age4dpj1ckudnoas3m541se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559869071425-l96jp77g8age4dpj1ckudnoas3m541se</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>559869071425-07v5uv3p8qr3239nimqmo2eassru7g03.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDk5fxEuC2N4KjcFsaXq-SN1GZMuj2TTw</string>
	<key>GCM_SENDER_ID</key>
	<string>559869071425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PentiaTest</string>
	<key>PROJECT_ID</key>
	<string>awesomeproject-2903b</string>
	<key>STORAGE_BUCKET</key>
	<string>awesomeproject-2903b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559869071425:ios:b8c5c0a0c75a1ff69f76c0</string>
</dict>
</plist>